.catalog-item-container {
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.item-info {
  // margin-top: 2.5rem;
  text-align: center;

  h1 {
    font-family: $libre;
    font-size: 2rem;
    color: $primary-text-color;
  }

  h2 {
    font-family: $crimson;
    font-size: 1.1rem;
    width: 80%;
    margin: 1rem auto;
    color: $primary-text-color;
  }

  img {
    // height: 100%;
    // width: 100%;
    margin: auto;
  }
}
