.nav-button {
  display: inline;
  position: absolute;
  top: 1.5vh;
  left: 2.5vw;
  z-index: 3;
  cursor: pointer;

  @include above-768-px {
    display: none;
  }
}

.bar {
  display: block;
  height: 2px;
  width: 20px;
  background: $secondary-text-color;
  margin: 4px auto;

  @include transition(0.75s, null);
}

.top-bar-active {
  @extend .bar;
  @include sidebar-button-transition(6px, 45deg);
  background: $primary-text-color;
}

.mid-bar-active {
  @extend .bar;
  width: 0;
  background: $primary-text-color;
}

.bot-bar-active {
  @extend .bar;
  @include sidebar-button-transition(-6px, -45deg);
  background: $primary-text-color;
}
