.nav-button {
  display: inline;
  position: absolute;
  top: 2.5vh;
  left: 5vw;
  z-index: 3;
  cursor: pointer;

  @include above-768-px {
    display: none;
  }
}

.bar {
  display: block;
  height: 3px;
  width: 30px;
  background: $secondary-text-color;
  margin: 6px auto;

  @include transition(0.75s, null);
}

.top-bar-active {
  @extend .bar;
  @include sidebar-button-transition(9px, 45deg);
  background: $primary-text-color;
}

.mid-bar-active {
  @extend .bar;
  width: 0;
  background: $primary-text-color;
}

.bot-bar-active {
  @extend .bar;
  @include sidebar-button-transition(-9px, -45deg);
  background: $primary-text-color;
}
