// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Font Variables
$jost: 'Jost', sans-serif;
$lato: 'Lato', sans-serif;

// Styles
body {
  font-family: $jost;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lato;
  font-weight: normal;
}

.button {
  font-family: $jost;
  font-weight: bold;
}
