// Color Theme
$background: #f0f0f0;
$text-color-black: #0a0a0a;
$text-color-white: #f0f0f0;
$title-color: #3c1f23;
$button-background: #557b68;
$accent-green-1: #639075;
$accent-brown-1: #5e423f;
$accent-brown-2: #80655b;
$accent-brown-3: #c3ab93;
$accent-yellow-1: #fffacc;
