.navbar {
  // full view top navbar styling
  height: 2.5vh;
  width: 100vw;
  background: transparent;
  color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.75rem 0;
  z-index: 2;

  // sidenavbar styling
  @include below-768-px {
    height: 100vh;
    position: fixed;
    background-color: $background;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transform: translate3d(-100vw, 0, 0);
  }
}

// changes background color of navbar after some scrolling
.page-scrolled {
  background-color: $secondary-text-color;

  ul > li > * {
    background-color: none;
    color: $primary-text-color;
  }
}

.side-nav-open {
  @include below-768-px {
    // slides sidenav onto screen when navbutton is clicked
    @include flex-col-ctr-ctr;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;

    // styling of sidenav links
    ul > li > * {
      background-color: none;
      color: $primary-text-color;
      font-size: 2rem;
    }
  }
}

// styles individual links on both topnav and sidenav
.nav-text-links,
.nav-icon-links,
.nav-logo-link {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
  list-style: none;

  li > * {
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    color: $secondary-text-color;
    transition: 0.3s all;
    padding: 0;
  }

  li > *:hover {
    color: $accent-green-1;
  }

  @include below-768-px {
    @include flex-col-ctr-ctr;
  }
}

.nav-text-links:first-child {
  margin-left: -1rem;
}

.nav-logo-link {
  li > * {
    font-size: 1.75rem;
  }

  li > *:hover {
    color: none;
  }

  li > * > span {
    color: $red;
  }
}

// span {
//   color: $red;
// }
