.navbar {
  height: 4vh;
  width: 100%;
  background: transparent;
  color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  z-index: 1;
  transition: background-color 0.25s ease 0s;
  position: fixed;
}

.navScrolled {
  background: none;
  background-color: $secondary-text-color;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
  list-style: none;
}

.leftmost {
  margin-left: -1rem;
}

.nav-text-item {
  font-size: 1rem;
  list-style: none;
}

.nav-icon-item {
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: $secondary-text-color;
  transition: 0.3s all;
  padding: 0;
}

.navScrolledLink {
  background-color: none;
  color: $primary-text-color;
}

.nav-link:hover {
  color: $accent-green-1;
}

.nav-icon {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
  }

  .nav-links.active {
    background: $accent-brown-3;
    left: 0;
  }

  .nav-icon-item {
    padding: 10px 0;
    border-top: 1px solid $accent-green-1;
    border-bottom: 1px solid $accent-green-1;
  }

  .nav-icon {
    display: flex;
  }
}
