.navbar {
  height: 4vh;
  width: 100%;
  background: transparent;
  color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.75rem 0;
  z-index: 1;
  // transition: background-color 0.25s ease 0s;

  @include below-768-px {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: $background;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  }
}

.side-nav-shown {
  @include below-768-px {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
}

.nav-scrolled {
  background: none;
  background-color: $secondary-text-color;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
  list-style: none;
}

.leftmost {
  margin-left: -1rem;
}

.nav-text-item {
  font-size: 1rem;
  list-style: none;
}

.nav-icon-item {
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: $secondary-text-color;
  transition: 0.3s all;
  padding: 0;
}

.nav-scrolled-link {
  background-color: none;
  color: $primary-text-color;
}

.nav-link:hover {
  color: $accent-green-1;
}
